@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: #4070f4
    color: #000
    font-family: 'Poppins', sans-serif
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh

.form
    background-color: #fff
    max-width: 430px
    width: 100%
    padding: 30px
    border-radius: 6px
    header
        margin-top: 30px
    form
        .field
            height: 50px
            width: 100%
            margin-top: 20px
            position: relative
            input,button
                height: 100%
                width: 100%
                border: 1px solid #cacaca
                padding: 0 15px
                font-size: 1em
                font-weight: 400 //Fuente 400 poppins
                border-radius: 6px
            button
                height: 100%
                width: 100%
                border: none
                padding: 0 15px
                font-size: 1em
                font-weight: 400 //Fuente 400 poppins
                border-radius: 6px
                cursor: pointer

        .form-link
            text-align: center
            margin-top: 10px
            font-size: 14px
            font-weight: 400
            a
                text-decoration: none
                color: #0171d3
                &:hover
                    text-decoration: underline
            span
                color: #232836
        .input-field
            i //ícono de ojo
                font-size: 18px
                color: #8b8b8b
                position: absolute
                top: 50%
                right: 5%
                transform: translateY(-50%) //Centramos verticalmente el ojo
                cursor: pointer
                padding: 5px
.button-field
    //


